.banner-initial {
  background-image: url(../assets/images/banner-initial.png);
  background-attachment: fixed;
  background-color: black;
}

button .collapsed::after {
  content: "+";
}

.grow-cast {
  background-image: url(../assets/images/growcast-01.png);
  background-position: start;
  background-repeat: no-repeat;
  background-size: cover;
  height: 94.1vh;
}

.home-growcast {
  height: 90%;
  align-items: flex-end;
}

@media screen and (min-width: 992px) {
  .card img {
    transition: 0.2s ease;
  }
  
  .card button {
    opacity: 0;
    transition: 0.5s ease;
    transform: scale(0.9);
  }
  
  .card:hover img {
    transform: scale(0.9);
  }
  
  .card:hover p {
    transform: scale(0.9);
    opacity: 1;
  }
  
  .card:hover button {
    transform: scale(1);
    opacity: 1;
  }
}